
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('https://images.spiderum.com/sp-images/05188cf015ad11e7ae28b9f83783eb34.jpg'); 
  background-size: cover;
  background-position: center;
  position: relative;
}

.login-page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 0;
}


.login-container {
  display: flex;
  width: 900px;
  max-width: 95%;
  height: 550px;
  background: rgba(20, 20, 20, 0.85);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  position: relative;
}


.left-panel {
  flex: 1;
  background-image: url('https://ghichu.vn/blog/wp-content/uploads/2018/11/a2-1.jpg'); 
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  color: white;
  position: relative;
}

.left-panel::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 196, 101, 0.381), rgba(0,0,0,0.7));
  z-index: 1;
}

.left-content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.welcome-text h2 {
  font-size: 32px;
  margin-bottom: 10px;
  line-height: 1.2;
}

.welcome-text p {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 20px;
}

.social-icons span {
  margin-right: 15px;
  font-size: 18px;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s;
}

.social-icons span:hover {
  opacity: 1;
  color: #fff;
}


.right-panel {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  color: rgb(83, 47, 0);

}

.right-panel h2 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 40px;
}

.form-group {
  margin-bottom: 25px;
  position: relative;
}

.form-group label {
  font-size: 13px;
  color: #aaa;
  display: block;
  margin-bottom: 5px;
}


.form-group input {
  width: 100%;
  padding: 10px 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid #555;
  color: rgb(0, 0, 0);
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-bottom: 1px solid #e50914; 
}

.form-group input::placeholder {
  color: #666;
  font-size: 14px;
}


.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  font-size: 13px;
  color: #aaa;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 5px;
}


.submit-btn {
  width: 100%;
  padding: 12px;
  background-color: rgb(93,64,55);
  border: none;
  color: rgb(245, 241, 232);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  transition: transform 0.2s;
}

.submit-btn:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}

.switch-auth {
  margin-left: auto;
  font-size: 14px;
  color: #aaa;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.switch-auth:hover {
  color: white;
  border-bottom: 1px solid white;
}

.error-msg {
  color: #ff4d4d;
  font-size: 14px;
  margin-bottom: 15px;
}



.brand{
    display: flex;
}

h3{
font-family: 'Cinzel', serif;
  color: #ffffff; 
  text-transform: uppercase;
  letter-spacing: 3px; 
  text-shadow: 5px 2px 0px #5d200e;
  font-size: 30px;
}